/* title  */

#title{
  background:url("Business.jpg") no-repeat;
  height: 768px;
  width: 100%;
  letter-spacing: 0.26px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  font-family: ProximaNova;
  background-position: center;
}


a{
  color: #ffffff;
  text-decoration: none
}
a.a__title:hover{
  color: #f86d3a;
}
.a__title{
  font-size: 15px;
}
.btn{
  color:#ffffff;
}


.container-fluid{
  padding: 1.5% 2% 7%  ;
}

/* navbar */
.navbar-nav1{
  margin: 0% 6%;
}

.navbar-toggler-icon{
  color:#ffffff;
  border-color: #ffffff;
}

.Backers{
  margin: 0% 3%;
}

.Stories{
  margin: 0% 25%;
}

.Login{
  margin-right: ;
}

.form1{
  width:45%;
  margin-left: -8%;
  letter-spacing: 0.27px;
  border-radius: 3px;
  font-size: 0.80rem;
  line-height: 2;
  color: #8c8c8c;
}

.join{
  font-style: normal;
  font-stretch: normal;
  border-radius: 3px;
  background-color: #fc3838;
}
.join:hover{
  background: white;
  border-color: #f86d3a;
}
/* slider */
.path_left{
  float: left;
  margin-top: 20%;
  width: 34px;
  height: 44.6px;
  object-fit: contain;
  opacity: 0.78;
}
.path_left:hover{
  background-color: #fff;
}

.path_right{
  float: right;
  margin-top: 20%;
  width: 33.7px;
  height: 44.3px;
  object-fit: contain;
  opacity: 0.78;
}
.path_right:hover{
  background-color: #fff;
}


/* title*/
.title_heading{
  padding: 13% 10% 1.5%;
  font-size:4rem;
  font-weight: bold;
  line-height: 1;
  font-family: ProximaNova;
}

.title_subheading{
  padding: 0% 15% 3%;
  font-size: 1.83rem;
  line-height: 1;
  font-family: ProximaNova;
}

.registeration{
  width: 23%;
  font-size: 1.93rem;
  font-style: normal;
  font-stretch: normal;
  border-radius: 3px;
  background-color: #f86d3a;
}
.registeration:hover{
  background: white;
  border-color: #f86d3a;
}

/* offer*/
#offer{
  padding: 0% 5%;
  background-color: #fff;
  text-align: center;
  font-family: ProximaNova;
  position: relative;
  z-index: 1;
}

.offer_heading{
  padding: 2% 10% 5%;
  font-size:5rem;
  font-weight: bold;
  line-height: 1;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.34px;
  color: #f86d3a;
  font-family: ProximaNova;
}

.offer_subheading{
  padding: 0% 10% 4%;
  font-size: 1.33rem;
  color:#5a5a5a;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 0.41px;
  font-family: ProximaNova;
}

.offer_subheading_exploring{
  padding: 0% 2.2% 0%;
  font-size: 1.33rem;
  color:#5a5a5a;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 0.41px;
  font-family: ProximaNova;
}

.offer_btn{
  width: 206px;
  height: 45px;
  border-radius: 4px;
  }


.fa-Connecting{
  width: 116.8px;
  height: 68.4px;
  object-fit: contain;
  margin-bottom: 1rem;
  }

.Connecting{
  margin:  0% auto 5%;
  background-color: #f86d3a;
}
.Connecting:hover{
  background-color: #ffffff;
  color: #f86d3a;
  border-color: #f86d3a;
}


.fa-exploring{
  width: 79.8px;
  height: 79.8px;
  object-fit: contain;
  color: #00b3e9;
  margin-bottom: 0.7rem;
  margin-top: -0.5rem;
    }

.exploring{
  margin:  0% auto 5%;
  background-color: #00b3e9;
}
.exploring:hover{
  background-color: #ffffff;
  color: #00b3e9;
  border-color: #00b3e9;
}

.fa-hired{
  margin-bottom: 1rem;
  width: 77.1px;
  height: 77.1px;
  object-fit: contain;
}

.hired{
  margin:  0% auto 5%;
  background-color: #f9b800;
}
.hired:hover{
  background-color: #ffffff;
  color: #f9b800;
  border-color: #f9b800;
}


.box-investing{
  margin-top:3%;
  left:33.33%
}

.fa-investing{
    margin-bottom: 1rem;
    width: 78.5px;
    height: 80.9px;
    object-fit: contain;
}

.investing{
  margin:  0% auto 5%;
  background-color: #25ba96;
}
.investing:hover{
  background-color: #ffffff;
  color: #25ba96;
  border-color: #25ba96;
}

/*  featured project*/
#features{
  width: 100%;
  font-family: ProximaNova;
  padding: 0 13.8%;
  background-color: #f5f5f5;
  text-align: center;
  font-style: normal;
  font-stretch: normal;
  }

/* quote*/
.warren_thought{
  padding: 5% 12% 1.5%;
  width:100%;
  font-size: 24px;
  line-height: 1.21;
  font-weight: normal;
  letter-spacing: 0.41px;
  text-align: center;
  color: #575757;
}

.warren{
  font-size: 30px;
  letter-spacing: 0.51px;
  font-weight: bold;
  color: #474747;
}

/*plant_project*/

.featured_project{
  text-align: left;
  width: 100%;
  font-style: normal;
  font-stretch: normal;
}

.featured_project_heading{
  font-size: 34px;
  font-weight: bold;
  line-height: 2.06;
  letter-spacing: 0.58px;
  color:#202020;
}

.featured_project_txt{
  padding-bottom: 3%;
 width: 100%;
 height: 350px;
 border-radius: 7px;
 box-shadow: 3px 3px 5px 0 rgba(140, 140, 140, 0.16);
 border: solid 1px #f1f1f1;
 background-color: #ffffff;
}

.featured_project_img{
  float: left;
  background: url("Project.jpg") no-repeat center;
  background-size: 150%;
  width: 50%;
  height: 350px;
  object-fit: contain;
}

.plant_project{
  width: 50%;
  height: 350px;
  margin-left: 50%;
  padding: 0 2% 2%;
}

.plant_project_heading{
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 2.5;
  letter-spacing: 0.48px;
  text-align: left;
  color: #2c2c2c;
}

.plant_project_txt{
  width: 95%;
  height: 90px;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: 0.29px;
  text-align: left;
  color: #505050;
  padding-top: 1%;
}

.plant_project_price{
  height: 21px;
  font-size: 19px;
  line-height: 1.21;
  letter-spacing: 0.32px;
  text-align: left;
  color: #2c2c2c;
  padding-top: 5%;
}

/* rangebar*/

.slidecontainer{
  padding-top: 10%;
}
.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 15px;
  background: linear-gradient(90deg,rgb(30,30,19) 0%, rgb(94,94,94) 0%);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #25ba96;
  cursor: pointer;
}

#value{
  font-size: 18px;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #25ba96;
  cursor: pointer;
}

.btn_plant_project{
  width: 60%;
  height: 45px;
  line-height: 22.5px;
  float:right;
  margin:  -2% 2% 0;
  background-color: #25ba96;
  padding-bottom: 2%;
}

.btn_plant_project:hover{
  background-color: #ffffff;
  color: #25ba96;
  border-color: #25ba96;
}

/* popular_new_top*/

.popular{
  padding: 4% 13.8% 0% ;
  text-align: left;
  width: 100%;
  font-family: ProximaNova;
  background-color: #f5f5f5;
  font-style: normal;
  font-stretch: normal;
  font-weight: bold;
}

.a_popular{
  color:#202020;
  font-size: 26px;
}

.a_popular:hover{
  color:#25ba96;
  text-decoration: none;
}

.more{
  text-align: right;
}

/*slider*/


.fire {
  height: 750px;
  padding: 2% 13.8%;
  background-color: #f5f5f5;
  border-radius: 7px;
  box-shadow: 3px 3px 4px 0 rgba(140, 140, 140, 0.16);
  border: solid 1px #f1f1f1;
}

.swiper-container {
  width: 100%;
  height: 70%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 3px 3px 4px 0 rgba(140, 140, 140, 0.16);
  border: solid 1px #f1f1f1;
}
/*fire_project*/

.Fire-Project{
padding: 2% 5%;
}

.Fire-Project_heading {
font-family: ProximaNova;
margin-top: -20px;
font-size: 26px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: 2.69;
letter-spacing: 0.44px;
text-align: left;
color: #2c2c2c;
}

.Fire-Project_text{
width: 95%;
font-family: ProximaNova;
font-size: 13px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.31;
letter-spacing: 0.22px;
text-align: left;
color: #505050;
}

.Fire_project_price{
padding-top: 6%;
font-family: ProximaNova;
font-size: 17px;
font-style: normal;
font-stretch: normal;
line-height: 1.35;
letter-spacing: 0.29px;
text-align: left;
color: #2c2c2c;
}

.slidecontainer2{
  padding: 3% 0;
}

.slider {
-webkit-appearance: none;
width: 100%;
margin-top: -10%;
height: 15px;
border-radius: 15px;
background: linear-gradient(90deg,rgb(30,30,19) 0%, rgb(94,94,94) 0%);
outline: none;
-webkit-transition: 0.2s;
transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 15px;
height: 15px;
border-radius: 50%;
background: #25ba96;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 15px;
height: 15px;
border-radius: 50%;
background: #25ba96;
cursor: pointer;
}

.firerange{
font-family: ProximaNova;
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.53;
letter-spacing: 0.26px;
text-align: left;
color: #2c2c2c;
}

.btn_fire_project{
width: 60%;
height: 35.9px;
line-height: 14px;
font-size: 14px;
background-color: #25ba96;
}

.btn_fire_project:hover{
background-color: #ffffff;
color: #25ba96;
border-color: #25ba96;
}

.swiper-button-next{
  color:#fff;
  opacity:0;
}

.swiper-button-next:hover{
  opacity:1;
}

.swiper-button-prev{
  color:#fff;
  opacity:0;
}

.swiper-button-prev:hover{
  opacity:1;
}

/*Get_started*/

#Get_started{
  background: url("Start.jpg") no-repeat;
  width: 100%;
  height: 683px;
  margin-top: -130px;
  background-position: center;
  text-align: center;
  font-style: normal;
  font-stretch: normal;
  font-family: ProximaNova;
}

.Get_started_heading{
  height: 67px;
  font-size: 55px;
  font-weight: bold;
  line-height: 0.53;
  letter-spacing: 0.94px;
  color: #f86d3a;
  padding: 6.5% 0 5%;
}

.Get_started_quote{
  font-size: 17px;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.29px;
  color: #f86d3a;
}

.personal{
  float: left;
  margin-top: 6%;
  margin-left: 14.71%;
  width: 31.1%;
  height: 266.4px;
  background-color: white;
}

.teams{
  float: right;
  margin-top: 6%;
  margin-right: 14.71%;
  width: 31.1%;
  height: 266.4px;
  background-color: white;
}

.personal_heading{
  padding: 7.1% 0 7.9%;
  font-family: ProximaNova;
  font-size: 38px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.76;
  letter-spacing: 0.65px;
  text-align: center;
  color: #262626;
}

.teams_heading{
  padding: 7.1% 0 7.9%;
  font-family: ProximaNova;
  font-size: 38px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.76;
  letter-spacing: 0.65px;
  text-align: center;
  color: #262626;
}

.personal_text{
  padding: 0 9.17%;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.24px;
  text-align: center;
  color: #505050;
}

.teams_text{
  padding: 0 9.17%;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.24px;
  text-align: center;
  color: #505050;
}

.btn_personal{
  margin-top: 7%;
  background-color: #f86d3a;
  width:48.47% ;
  border-radius: 4px;
  background-color: #f86d3a;
}

.btn_personal:hover{
  background-color: #ffffff;
  color: #f86d3a;
  border-color: #f86d3a;
}

.btn_teams{
  margin-top: 7%;
  background-color: #f86d3a;
  width:48.47% ;
  border-radius: 4px;
  background-color: #f86d3a;
}

.btn_teams:hover{
  background-color: #ffffff;
  color: #f86d3a;
  border-color: #f86d3a;
}


/* media */
@media(max-width:1100px){
.form1{
  width: 40%;
}

@media(max-width:991.75px){

.Backers{
  width:20%;
  text-align: center;
  margin-left: 38%;
}

  .Stories{
   width:20%;
   margin-left: 38%;
  }

  .form1{
    width: 60%;
    margin: 0% 23% ;
  }

  .Login{
    width:20%;
    margin-left: 41%
  }

  .path_left{
    margin-top: 28%;
  }

  .path_right{
    margin-top: 28%;
  }

  .title_heading{
    padding: 28% 10% 2%;
    font-size:3.5rem;
    font-weight: bold;
    line-height: 1;
  }

  .title_subheading{
      padding: 0% 17% 2%;
      font-size:1.6rem;
    }

  .registeration{
    font-size: 1.6rem;
    background-color: #f86d3a;
    width: 28%;
  }
  .box-investing{
    left:0%
  }
 .offer-box{
   padding-left:30%;
   padding-right: 30%
 }
 .fa-exploring{
   margin-top: 10%;
 }
 .fa-hired{
   margin-top: 10%;
 }
 .exploring{
   margin-top: 5%
 }
a{
    color: #ffffff;
    font-size: 1.4rem;
  }
}

@media(max-width:700px){
  .registeration{
    font-size: 1.2rem;
  }
}
